<h2>Route Module = App Module</h2>
<p>
  Dentro del core module por ejemplo vamos a ver toda la logica de los servicios
  http, porque especialmente estos se manejan y distribuyen estre todos
</p>

<h2>Shared Module</h2>
<p>
  Practicamente es un modulo que contiene todo lo que vayas a reutilizar y a
  diferencia del <strong>Core</strong> que nada se exporta aquí si se exportá el
  modulo
</p>
<hr />
<h2>Helpers</h2>
<p>
  Es una función independientemente de angular que puede ejecutar ciertas
  acciones, por ejemplo puede ser por ejemplo una función que capitalice
  palabras, un sum o un calculate-percentage
</p>
<hr />
<h2>Componentes compartidos y de estructura</h2>
<p>
  Estos no son iguales porque para los componentes de presentación o de
  estructura generalmente para ello se crea un modulo llamado
  <strong>layout</strong>
</p>
<hr />
<h2><strong>Notas</strong></h2>
<ul>
  <li>Los dumbs no deben hacer peticiones http.</li>
  <li>Lo deben tener acceso a los servicios.</li>
  <li>No deben almacenar nada en backend</li>
  <li>
    No deben hacer absolutamente nada mas que encargarse de presentar el
    renderizado, ya que dicho de otra forma es el lienzo donde se va a pintar.
  </li>
</ul>
<p>
  Si se quiere hacer logica se empezaría a abstraer en subcomponentes llamados
  smarts, en este proyecto hay 2 smarts que son el list y el card
</p>
